body{
  background: linear-gradient(135deg, #b8ff55, #e8e9ec);
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selected-segment{
  border: 2px solid skyblue;
  height: auto;
  padding: 5px;
}
